BIE2025-2023/demo-vuejs/vue-project/.firebaserc
BIE2025-2023/demo-vuejs/vue-project/firebase.json
BIE2025-2023/demo-vuejs/vue-project/firestore.indexes.json
BIE2025-2023/demo-vuejs/vue-project/firestore.rules
BIE2025-2023/demo-vuejs/vue-project/.firebase/hosting.ZGlzdA.cache
